_build
.Readme.un~
Interface/interface
Readme~
.lock-waf_cygwin_build
simpletestload.exe.stackdump
googletestbuild
.configure_tool_libs.sh.un~
.configuretools.sh.un~
backtestbedtest.exe.stackdump
configure_tool_libs.sh~
ngtest_sln/backtestbed/Debug
ngtest_sln/ipch
*sdf
*suo
ngtest_sln/simple_strategy/Debug

// protobuf autoconf gen
protobuf-2.6.1/Makefile
protobuf-2.6.1/config.h
protobuf-2.6.1/config.log
protobuf-2.6.1/config.status
protobuf-2.6.1/gtest/Makefile
protobuf-2.6.1/gtest/build-aux/config.h
protobuf-2.6.1/gtest/build-aux/stamp-h1
protobuf-2.6.1/gtest/config.log
protobuf-2.6.1/gtest/config.status
protobuf-2.6.1/gtest/fused-src/gtest/.deps/
protobuf-2.6.1/gtest/libtool
protobuf-2.6.1/gtest/samples/.deps/
protobuf-2.6.1/gtest/scripts/gtest-config
protobuf-2.6.1/gtest/src/.deps/
protobuf-2.6.1/gtest/test/.deps/
protobuf-2.6.1/libtool
protobuf-2.6.1/protobuf-lite.pc
protobuf-2.6.1/protobuf.pc
protobuf-2.6.1/src/Makefile
protobuf-2.6.1/src/google/protobuf/.deps/
protobuf-2.6.1/src/google/protobuf/compiler/.deps/
protobuf-2.6.1/src/google/protobuf/compiler/cpp/.deps/
protobuf-2.6.1/src/google/protobuf/compiler/java/.deps/
protobuf-2.6.1/src/google/protobuf/compiler/python/.deps/
protobuf-2.6.1/src/google/protobuf/io/.deps/
protobuf-2.6.1/src/google/protobuf/stubs/.deps/
protobuf-2.6.1/src/google/protobuf/testing/.deps/
protobuf-2.6.1/stamp-h1
ngtest_sln_vs10/ngtest_sln.VC.opendb
