[submodule "cpplint"]
	path = cpplint
	url = https://github.com/TheOstrichIO/cpplint.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "waf"]
	path = waf
	url = https://github.com/waf-project/waf.git

